.seccion1{
    text-align: center;
    margin-bottom: 10px;
}


    /* DISEÑO PARA ARCHIVO ORDENES.PHP */
    /* Diseño parte superior Ingresar,Barra de Busqueda */
    .ordenes1{
        width: 100%;
        display: flex;
        margin: 1rem auto;
        height: auto;
    }
    /* Diseño Boton de Ingresar */
        /* Contenedor */
    .ordenes-ingresar{
        width: 15%;
        /* background-color: aqua; */
        text-align: center;
        padding: 0 auto;
       
    }

    /* Diseño para el boton de regresar */
    .icon-angle-circled-left{
        font-size: 45px;
        color: #726b6b;
    }

    button{
        background-color: #fff;
        border: 0px;
        cursor: pointer;
        margin-right: 13px;
    }


.seccion1 h1{
    font-size: 3.5rem ;
    color: rgb(14, 0, 138);
    font-family: 'Inter', sans-serif;
}

.container-fluid{
    background-color: aqua;
}

.seccion1 input{
    font-size: 1.3rem;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.seccion1 table{
    width: 100%;
}
.seccion1 table th{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: #000;
    
}
.tres-lineas{
    width: 3rem;
    height: 3rem;

}